# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model & vectorizer outputs
outputs/*.pkl
outputs/*.joblib
